#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Database

data/
databases/
dbms/
logs/
transactions/system/neostore.transaction.db.0
transactions/system/checkpoint.0
transactions/neo4j/neostore.transaction.db.7
transactions/neo4j/neostore.transaction.db.6
transactions/neo4j/neostore.transaction.db.0
transactions/neo4j/checkpoint.0
logs/debug.log
logs/debug.log
